.about {
  position: relative;

  color: $white;
  background: {
    color: $grey;
    position: center -3px;
    repeat: no-repeat;
    size: 700px auto;
    image: url("../img/bg-back-mobile@1x.jpg");

  }
  @media #{$retina} {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    //Нужен ли нам тут size?
    //background-size: 1400px auto;
  }

  @media #{$tablet-width} {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: center center;

    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media #{$desktop-width} {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
}

.about__title {
  box-sizing: border-box;
  // Откуда взялся margin?
  margin: 0;
  padding: 98px 20px 30px;
  @include container;

  h2 {
    margin: 0;
    text-align: center;

    @include light-text;
  }

  &--moved {
    padding-top: 90px;
  }
}

.about__download-section {
  padding: 24px 0 31px;

  background-color: $background;
}

.about__download-section-wrapper {
  @include container;
}

.about__download-button {
  display: block;

  @include round-button;

  @include bold-text;
}

.about__platforms {
  padding: 30px 0 20px;

  text-align: center;

}

.about__platform {
  padding: 0 15px;

  text-decoration: none;
}

.about__download-info {
  margin: 0;

  text-align: center;

  @include light-text(14px, 1.7em);
}

.about__description {
  margin: 0;
  padding: 40px 20px;

  text-align: center;

  color: $grey;
  background: $white;

  line-height: 30px;

  @include light-text(14px);
}

@media #{$tablet-width} {
  .about__title {
    padding-top: 202px;

    h2 {
      @include light-text(40px);
    }

    // In case of index page
    &--moved {
      float: left;
      padding-left: 28px;
      padding-right: 28px;
      padding-bottom: 2px;

      width: 300px;
    }
  }

  .about__preview {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin: 0;

    img {
      width: 700px;
      height: 545px;
    }
  }

  .about__download-section {
    // Used to overlap image
    position: relative;
    z-index: 1;
    background: none;
    padding-bottom: 110px;

    @include clear-fix;
    @include container;
  }

  .about__download-section-wrapper {
    width: 300px;
    float: left;

    background: none;
  }

  .about__platforms {
    padding: 46px 0 33px;
  }

  .about__download-info {
    @include light-text(18px, 1.3em)

  }
}

@media #{$desktop-width} {
  .about__title {
    padding-top: 218px;
    h2 {
      @include light-text(50px)
    }
  }

  .about__preview {
    right: 44px;
    img {
      width: 1050px;
      height: 645px;
    }
  }

  .about__download-section {
    padding: 50px 0 123px;
  }

  .about__download-button {
    @include bold-text(21px, 1.5em)
  }

  .about__platforms {
    padding: 67px 0 53px;
  }
}
