.about {
  position: relative;
  color: $white;
  background:  {
    color: $grey;

    image: url("../img/bg-back-mobile@1x.jpg");
  }
}
.about__wrapper {
  @include container;
}

.about__title {
  // Откуда взялся margin?
  margin: 0;
  box-sizing: border-box;
  padding: 120px 20px 20px;

  text-align: center;

  @include light-text;

  @include container;
}

.about__preview {
  img {
    vertical-align: bottom;
  }
}

.about__download-section {
  padding: 30px 0;

  background-color: $background;
}

.about__download-section-wrapper {
  min-height: 271px;

  @include container;
}

.about__download-button {
  display: block;
  box-sizing: border-box;

  color: $white;
  @include bold-text;
  border: {
    color: $white;
    radius: 45px;
    width: thin;
    style: solid;
  };
  padding: 20px 0;

  text-align: center;
  text-decoration: none;
}


.about__platforms {
  padding: 30px 0;
  text-align: center;

  .about__platform {
    padding: 0 10px;

    text-decoration: none;
  }
}

.about__download-info {
  margin: 0;
  padding: 5px;

  text-align: center;

  font-family: $light;
}

.about__description {
  margin: 0;
  padding: 40px 20px;

  text-align: center;

  color: $grey;
  background: $white;

  @include light-text(14);
  line-height: 30px;
}
@media (min-width: $tablet-break) {
  .about__wrapper {
    @include clear-fix;
    min-height: 530px;
    position: relative;
  }
  .about__title {
    float: left;
    width: 300px;
  }
  .about__preview {
    float: right;
  }
  .about__download-section {
    padding: 0;

  }

  .about__preview {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  // Так и не придумал как это правильно спозиционировать
  .about__download-section-wrapper {
    position: absolute;
    top: 200px;
    left: 15%;
    @include center-block;
    width: 300px;
    background: none;
  }
}
