.about {
  color: $white;
  background:  {
    color: $grey;

    image: url("../img/bg-back-mobile@1x.jpg");
  };

  font-family: $light;
}

.about__title {
  box-sizing: border-box;
  padding: 120px 20px 20px;

  text-align: center;

  font-size: 24pt;
  font-weight: normal;

  @include container;
}

.about__preview {
  img {
    vertical-align: bottom;
  }
}

.about__download-section {
  min-height: 271px;

  background-color: $background;

  .about__download-button {
    display: block;

    padding: 25px 50px;

    text-align: center;
    text-decoration: none;

    color: $white;
  }
}


.about__platforms {
  text-align: center;

  .about__platform {
    padding: 0 10px;

    text-decoration: none;

    color: $white;
  }
}

.about__download-info {
  margin: 0;
  padding: 5px;

  text-align: center;

  font-family: $light;
}

.about__description {
  margin: 0;
  padding: 5px;

  text-align: center;

  color: $grey;
  background: $white;

  font-family: $light;
}
@media (min-width: $tablet-break) {
  .about__preview {
    position: absolute;
    right: 0;
  }

  // Что-то я окончательно запутался с этим блоком...
  .about__wrapper {
    position: static;

    box-sizing: border-box;
    width: 300px;
    min-height: 619px;
    margin: 0 0 auto 0;
    padding: 100px 0;

    background: none;
  }

  .about__download-section {
    background: none;
  }
}
