.advantage {
  text-align: center;

  .advantage__title {
    font-family: $BOLD;
    margin: 0;
    padding: 10px;
  }

  .advantage__description {
    font-family: $REGULAR;
    margin: 0;
    padding-bottom: 25px;
  }
}