.catchword {
  padding: 17px 20px 42px;

  text-align: center;

  color: $grey;
  background-color: $white;

  p {
    @include regular-text(14px, 2.2em);

    margin: 0;
  }
}

@media #{$tablet-width} {
  .catchword {
    padding-top: 44px;
    padding-bottom: 69px;
    p {
      @include regular-text(18px, 1.7em);
    }
  }
}

@media #{$desktop-width} {
  .catchword {
    padding-top: 4px;
    padding-bottom: 66px;
  }
}
