.contacts {
  text-align: center;

  font-style: normal;
}

.contacts__item {
  padding: 10px;

  a, a:hover {
    text-decoration: none;
  }
}

.contacts__type {
  margin: 0;

  font-family: $bold;
}

.contacts__value {
  margin: 0;

  color: $red;

  font-family: $light;
}
