@import "fonts";

.contacts {
  font-style: normal;
  text-align: center;

  .contacts__item {
    padding: 10px;
    .contacts__type {
      font-family: $BOLD;
      margin: 0;
    }

    .contacts__value {
      font-family: $LIGHT;
      margin: 0;
      color: #d22856;
    }

    a, a:hover {
      text-decoration: none;
    }
  }
}