@font-face {
  font-family: "OpenSans";

  src: url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Light";

  src: url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Bold";

  src: url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensansbold.woff2") format("woff2");
}

$light: "OpenSans Light", sans-serif, Arial;
$bold: "OpenSans Bold", sans-serif, Arial;
$regular: "OpenSans", sans-serif, Arial;

@mixin light-text($size: 24px, $line-height: 1.2em) {
  font:  {
    family: $light;
    size: $size;
    weight: 100;
  }
  line-height: $line-height;
}

@mixin regular-text($size: 14px) {
  font:  {
    family: $regular;
    size: $size;
    weight: normal;
  };
  line-height: 1.2em;
}

@mixin bold-text($size: 18px) {
  font:  {
    family: $bold;
    size: $size;
    weight: bold;
  };
  line-height: 1.8em;
}
