@font-face {
  font-family: "OpenSans";

  src: url("/fonts/opensans.woff") format("woff"),
  url("/fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Light";

  src: url("/fonts/opensanslight.woff") format("woff"),
  url("/fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Bold";

  src: url("/fonts/opensansbold.woff") format("woff"),
  url("/fonts/opensansbold.woff2") format("woff2");
}

$light: "OpenSans Light", sans-serif, Arial;
$bold: "OpenSans Bold", sans-serif, Arial;
$regular: "OpenSans", sans-serif, Arial;

@mixin light-text {
  font: {
    family: $light;
    size: 24px;
    weight: 100;
  }
  line-height: 1.2em;
}

@mixin regular-text {
  font: {
    family: $regular;
    size: 14pt;
    weight: normal;
  };
  line-height: 1.2em;
}

@mixin bold-text {
  font: {
    family: $bold;
    size: 18pt;
    weight: bold;
  };
  line-height: 1.8em;
}
