@import "contacts";

.footer {
  position: relative;

  margin-top: -111px;

  color: $grey;
  background-color: $white;

  h2 {
    @include light-text;

    margin: 0;
    padding: 44px 20px 20px;

    text-align: center;
  }
}

.footer__map {
  height: 200px;
  overflow: hidden;
  padding-top: 28px;
}

.footer__logo {
  display: none;
}

.footer__social {
  display: none;
  text-align: center;
}

.footer__social-link {
  padding: 5px;
}

.footer__developer {
  display: none;
  @include regular-text;

  text-align: center;
}

@media #{$tablet-width} {
  .footer__logo {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
  .footer__social {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
  .footer__developer {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
}
