@import "contacts";

.footer {
  color: $grey;
  background-color: $white;

  h2 {
    @include light-text;

    margin: 0;
    padding: 50px 20px;

    text-align: center;
  }
}

.footer__logo {
  img {
    display: block;

    margin: 0 auto;
  }
}

.footer__social {
  text-align: center;
}

.footer__social-link {
  padding: 5px;
}

.footer__developer {
  @include regular-text;

  text-align: center;
}

@media #{$tablet-width} {
  .footer__logo {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
  .footer__social {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
  .footer__developer {
    display: inline-block;

    width: 32%;

    vertical-align: middle;
  }
}
