@import "contacts";

.footer {
  position: relative;

  color: $grey;
  background-color: $white;

  h2 {
    @include light-text;

    margin: 0;
    padding: 44px 0 20px;

    text-align: center;
  }
}

.footer-index {
  margin-top: -510px;
}

.footer-index .footer__end {
  display: none;
}

.footer__map {
  overflow: hidden;

  height: 200px;
  width: 100%;
  padding-top: 28px;
  iframe {
    height: 200px;
    width: 100%;
  }
  background:  {
    image: url("../img/bg-map-mobile@1x.png");
    repeat: no-repeat;
    size: 100% auto;
  }

  @media #{$tablet-width} {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  @media #{$desktop-width} {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}

.footer__logo {
  padding-top: 40px;

  text-align: center;
  img {
    display: inline;
  }
}

.footer__social {
  display: flex;
  justify-content: center;

  padding: 36px 0 37px 10px;

  text-align: center;
}

.footer__social-link {
  margin-right: 11px;
  padding: 7px 12px;

  border:  {
    width: medium;

    color: $light-grey;

    radius: 90%;
    style: solid;
  }
  svg {
    fill: $red;
  }
}

.footer__developer {
  @include regular-text;

  text-align: center;
}

.footer__developer-logo {
  margin-left: 10px;
  img {
    vertical-align: middle;
  }
}

.footer__end {
  @include container;
}

@media #{$tablet-width} {
  .footer h2 {
    @include light-text(40px);
  }

  .footer-index {
    margin-top: -436px;
  }

  .footer-index .footer__end {
    display: flex;
  }

  .footer__map {
    height: 378px;
    margin-top: -22px;
    padding-top: 0;
    iframe {
      height: 848px;
    }
  }

  .footer__end {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    padding: 36px 0;
  }

  .footer__social {
    padding: 0;
  }

  .footer__logo {
    padding: 0;
  }
}

@media #{$desktop-width} {
  .footer {
    padding-top: 19px;
    h2 {
      @include light-text(50px);
    }
  }

  .footer-index {
    margin-top: -420px;
  }

  .footer__map {
    height: 500px;

    img {
      height: 500px;
    }
  }

  .footer__developer {
    @include regular-text(18px);
  }

  .footer__developer-logo {
    margin-left: 4px;
  }

  .footer__end {
    padding: 79px 0;
  }
}
