@import "navigation";

.header {
  position: relative;

  background-color: $grey;

  @include outer-wrapper;
}

.header__container {
  // Почему этот блок не центруется при таблете и десктопе?
  @include container;
}

@media (min-width: $tablet-break) {
  .header__container {
    position: absolute;
  }
}
