@mixin clear-fix {
  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

@mixin drop-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin center-block {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

@mixin container {
  width: 280px;

  @include center-block;

  @media(min-width: $tablet-break) {
    width: 620px;
  }

  @media(min-width: $desktop-break) {
    width: 940px;
  }
}

@mixin outer-wrapper {
  width: 320px;

  @include center-block;

  @media (min-width: $tablet-break) {
    width: 700px;
  }

  @media (min-width: $desktop-break) {
    width: 1200px;
  }
}
