@mixin clear-fix {
  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

@mixin drop-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin center-block {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

@mixin container {
  width: 280px;

  @include center-block;

  @media #{$tablet-width} {
    width: 620px;
  }

  @media #{$desktop-width} {
    width: 940px;
  }
}

@mixin outer-wrapper {
  width: 320px;

  @include center-block;

  @media #{$tablet-width} {
    width: 700px;
  }

  @media #{$desktop-width} {
    width: 1200px;
  }
}

@mixin outline($color: red) {
  outline: 2px solid $color;
  outline-offset: 3px;
}

@mixin round-button {
  box-sizing: border-box;
  padding: 6px 8px 10px;

  text-align: center;
  text-decoration: none;

  color: $white;
  border:  {
    width: medium;

    color: $white;

    radius: 45px;
    style: solid;
  };

  &:hover {
    color: $red;
    background-color: $white;
  }
  &:active {
    color: $pink;
    background-color: $white;
  }
}

@mixin background($url) {
  background:  {
    image: url($url);
    position-y: -95px;
    repeat: no-repeat;
  }
}
