@import "colors";
@import "grid";

@mixin clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.navigation {
  background-color: $BACKGROUND;
  color: $WHITE;
  font-family: "OpenSans Bold", sans-serif;
}

.navigation__button {
  float: right;
  display: inline-block;
  padding: $STEP;
}

.navigation__menu {
  color: $WHITE;
  font-size: 18pt;
  text-transform: uppercase;
  line-height: 32pt;

  .navigation__logo {
    padding: $STEP * 2;
    display: inline-block;
  }
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;

  .navigation__item {
    border-bottom: solid black thin;
    border-top: solid #485461 thin;
  }
}

.navigation__logo {
  // Как лучше размещать элементы? Сначала шрифты, потом выравнивание?
  display: inline-block;
  padding: 8px;
}

.navigation__menu-burger {
  float: right;
  padding: 4px;

  @include clear-fix;
}

