.navigation__controls {
  @include clear-fix;
  @include container;
}

.navigation__header {
  @include clear-fix;

  position: absolute;
  z-index: 1;

  width: 100%;

  background-color: rgba($black, 0.5);
}

.navigation__header-wrapper {
  @include container;
}

.navigation__menu {
  @include bold-text;

  width: 100%;

  text-transform: uppercase;

  color: $white;
  background-color: $grey;
}

.navigation__button {
  float: right;

  padding: 22px 0 0;
}

.navigation__logo {
  display: inline-block;
  float: left;

  padding: 22px 0 15px;
}

.navigation__list {
  @include drop-list;

  text-align: center;
}

.navigation__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border-top: solid #485461 thin;
  border-bottom: solid black thin;

  a {
    display: block;

    padding: 15px 0;

    text-decoration: none;

    color: $white;

    &:hover {
      text-decoration: underline;

      color: $red;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

@media #{$tablet-width} {
  .navigation__header {
    padding: 22px 0;
  }

  .navigation__logo {
    padding: 2px 0 12px;

    img {
      width: 148px;
      height: 46px;
    }
  }

  .navigation__menu--hidden {
    display: none;
  }

  .navigation__controls {
    display: none;
  }
}

@media #{$desktop-width} {
  .navigation {
    position: absolute;
    z-index: 1;

    width: 100%;

    background-color: rgba($black, 0.5);
  }

  .navigation__wrapper {
    @include container;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navigation__menu {
    @include regular-text(18px);

    display: block;

    width: auto;
    min-height: 0;

    text-transform: capitalize;

    background: none;
    &--hidden {
      display: block;
    }
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navigation__item {
    display: inline-block;

    margin-left: 80px;

    border: 0;
    border: none;
  }

  .navigation__header {
    position: static;

    display: block;

    width: auto;

    background: none;

    flex-grow: 1;
  }

  .navigation__header-wrapper {
    @include clear-fix;

    width: auto;
  }

  .navigation__button {
    display: none;
  }
}
