@import "colors";

.offer {
  text-align: center;

  color: $GREY;
  background-color: $LIGHT-GREY;

  font-family: $LIGHT;

  .offer__motto {
    padding: 25px 25px;

    background-color: white;
  }
}