@import "colors";

.offer {
  text-align: center;

  color: $grey;
  background-color: $light-grey;

  font-family: $LIGHT;

  .offer__motto {
    padding: 25px 25px;

    background-color: $white;
  }
}
