
.package {
  table, th, td, tbody, thead {
    width: 100%;

    border-spacing: 0;

    border: 1px solid #e5e5e5;
  }

  thead {
    color: $white;
    background-color: $grey;
  }
  .package__hit {
    float: left;

    background-image: url("../img/bg-hit.svg");
  }
  .package__title {
    display: block;

    text-align: center;

    font-family: $bold;
  }
  .package__price {
    display: block;

    text-align: center;
  }

  .package__option-name {
    text-transform: uppercase;
  }
}