.packages {
  padding: 65px 0;

  transform: skew(0deg, -4.4deg);
  transform-origin: left;
  color: $grey;
  background-color: $light-grey;
}

.packages__wrapper {
  position: relative;
  transform: skew(0deg, 4.4deg);
  transform-origin: left;
  @include container;
}

.packages__table {
  width: 940px;
  th, td, thead, tbody {
    border-spacing: 0;

    border: 1px solid #e5e5e5;
  }

  th {
    position: relative;
    padding: 19px 42px;
    overflow: hidden;
  }

  thead {
    color: $white;
    background-color: $grey;
  }

}

.packages__table-wrapper {
  overflow: scroll;
}

.packages__package-hit {
  position: absolute;
  left: -47px;
  top: 13px;
  width: 146px;
  height: 28px;
  @include bold-text(14px);
  font-weight: 100;

  text-transform: uppercase;
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-color: $red;
}

.packages__package-title {
  @include bold-text;

  display: block;

  text-align: center;

  text-transform: uppercase;
}

.packages__package-price {
  @include light-text;

  display: block;

  text-align: center;
}

.packages__package-option-name {
  @include regular-text;

  text-transform: uppercase;
}

@media #{$tablet-width} {
  .packages__table {
    width: 620px;
  }
}

@media #{$desktop-width} {
  .packages__table {
    width: 940px;
  }
}
