.packages {
  padding: 40px 0;

  color: $grey;
  background-color: $light-grey;
}

.packages__wrapper {
  @include container;
}

.packages__table {
  width: 940px;
  th, td, thead, tbody {
    border-spacing: 0;

    border: 1px solid #e5e5e5;
  }

  thead {
    color: $white;
    background-color: $grey;
  }
}

.packages__table-wrapper {
  overflow: scroll;
}

.packages__package-hit {
  float: left;

  background-image: url("../img/bg-hit.svg");

  @include bold-text(14px);
}

.packages__package-title {
  display: block;

  text-align: center;

  @include bold-text;
}

.packages__package-price {
  display: block;

  text-align: center;

  @include light-text;
}

.packages__package-option-name {
  text-transform: uppercase;

  @include regular-text;
}

@media #{$tablet-width} {
  .packages__table {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .packages__table {
    width: 940px;
  }
}
