.packages {
  padding: 65px 0 100px;

  transform: skew(0deg, -4.4deg);
  transform-origin: left;

  color: $grey;
  background-color: $light-grey;
}

.packages__wrapper {
  @include container;

  position: relative;

  transform: skew(0deg, 4.4deg);
  transform-origin: left;
}

.packages__table-wrapper {
  overflow: visible;
  position: relative;
  min-height: 284px;
}

.packages__table {
  width: 1064px;

  position: absolute;
  left: -463px;
  th {
    border-spacing: 0;

    border: 1px solid #e5e5e5;
  }

  tbody {
    background-color: $white;
  }

  th {
    position: relative;

    overflow: hidden;

    padding: 15px 42px 23px;
  }

  thead {
    color: $white;
    background-color: $grey;
  }
}

.packages__package-option {
  padding: 14px 21px 7px;

  text-align: right;
}

.packages__package-option--off svg {
  fill: $red;
}

.packages__package-option--on svg {
  fill: $green;
}


.packages__package-hit {
  @include bold-text(14px);

  position: absolute;
  top: 13px;
  left: -47px;

  width: 146px;
  height: 28px;

  transform: rotate(-45deg);
  text-transform: uppercase;

  background-color: $red;
  background-repeat: no-repeat;

  font-weight: 100;
}

.packages__package-title {
  @include bold-text;

  display: block;

  text-align: center;
  text-transform: uppercase;
}

.packages__package-price {
  @include light-text;

  display: block;

  text-align: center;
}

.packages__package-option-name {
  @include regular-text;

  text-transform: uppercase;

  display: block;
  position: absolute;
  left: 470px;

  $padding: 23px;
  $gap: 60;
  &--first {
    bottom: (2 * $gap) + $padding;
  }
  &--second {
    bottom: (1 * $gap) + $padding;
  }
  &--third {
    bottom: $padding;
  }
}

.packages__toggle-list {
  padding: 28px 0 50px;
}

@media #{$tablet-width} {
  .packages {
    padding-top: 36px;
    padding-bottom: 182px;
  }

  .packages__table-wrapper {
    min-height: 0;
  }

  .packages__table {
    position: static;
    left: 0;
    width: 620px;
  }

  .packages__table th {
    width: 100px;
    padding: 15px 21px;

    text-align: center;
  }

  .packages__package-option-name {
    padding-left: 14px;

    text-align: start;
    text-transform: capitalize;

    display: table-cell;
    position: static;
  }

  .packages__package-option {
    padding: 4px;

    text-align: center;
  }

  .packages__package-title {
    @include bold-text(16px);
  }

  .packages__package-price {
    @include light-text(18px);
  }
  .packages__toggle-list {
    display: none;
  }
}

@media #{$desktop-width} {
  .packages {
    margin-top: -3px;
    padding-top: 68px;
    padding-bottom: 186px;
  }
  .packages__table {
    width: 940px;
  }
  .packages__table th {
    width: 120px;
    padding: 14px 22px 22px;
  }

  .packages__table td {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .packages__package-title {
    @include bold-text(18px);
  }

  .packages__package-price {
    @include light-text(24px);
  }

  .packages__package-option-name {
    @include regular-text(18px);

    padding-left: 20px;
  }
}
