.post {
  box-sizing: border-box;
  padding: 10px 20px;
}

.post__photo {
  position: relative;

  overflow: hidden;

  margin: 0 auto;

  text-align: center;
}

.post__photo--wide {
  overflow: visible;
  img {
    display: block;

    margin: 0 auto;
  }
}

.post__photo-of-the-day {
  @include bold-text(12px);

  position: absolute;
  top: 0;
  right: 0;

  padding: 5px;

  text-transform: uppercase;

  color: $white;
  background-color: $red;
}

.post__author {
  a, a:hover {
    @include bold-text(14px);

    text-decoration: none;

    color: $grey;
  }
  .post__time {
    @include light-text;

    padding-left: 4px;

    text-transform: uppercase;

    color: $grey;
  }
}

.post__description {
  @include regular-text;

  margin: 0;
  padding: 10px 0;

  line-height: 24px;
}

.post__like-panel {
  @include regular-text(12px);

  text-transform: uppercase;

  color: $red;
  span {
    padding-left: 10px;
  }
}

.post__wrapper {
  background-color: $light-grey;
}

@media #{$tablet-width} {
  .photos {
    @include clear-fix;
  }
  .post {
    float: right;

    width: 50%;
    // Как это сделать без задания высоты?
    min-height: 360px;
  }

  .post:nth-child(1) {
    float: none;
    clear: both;

    width: 100%;
  }
}

@media #{$desktop-width} {
  .post {
    width: 33%;
  }
}
