.post {
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: $light-grey;
  @include container;
}

.post__wrapper {
  padding-left: 18px;
}

.post__photo {
  position: relative;

  overflow: hidden;

  margin: 0 auto;

  text-align: center;
  padding-bottom: 12px;
}

.post__photo--wide {
  overflow: visible;
  height: 137px;
  img {
    position: absolute;
    left: -20px;
    max-width: none;
  }
}

.post__photo-of-the-day {
  @include bold-text(12px);

  position: absolute;
  top: 0;
  right: 0;

  padding: 7px 20px;

  text-transform: uppercase;

  color: $white;
  background-color: $red;
}

.post__author {
  a, a:hover {
    @include bold-text(14px);

    text-decoration: none;

    color: $grey;
  }
  .post__time {
    @include light-text(12px);

    padding-left: 4px;

    text-transform: uppercase;

    color: $grey;
  }
}

.post__description {
  @include regular-text;

  margin: 0;
  padding: 0;

  line-height: 24px;
}

.post__like-panel {
  padding-top: 16px;
  padding-bottom: 24px;
  @include regular-text(12px);

  text-transform: uppercase;

  color: $red;
  span {
    padding-left: 19px;
  }
}


@media #{$tablet-width} {
  .photos {
    @include clear-fix;
  }
  .post {
    float: right;

    width: 50%;
    // Как это сделать без задания высоты?
    min-height: 360px;
  }

  .post:nth-child(1) {
    float: none;
    clear: both;

    width: 100%;
  }
}

@media #{$desktop-width} {
  .post {
    width: 33%;
  }
}
