.posts {
  padding-top: 23px;
  padding-bottom: 1px;

  color: $grey;
  background-color: $white;
}

.posts__wrapper {
  @include container;

  display: flex;
  flex-direction: column;
}

.post {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 19px;

  background-color: $light-grey;
}

.post__wrapper {
  box-sizing: content-box;
  min-height: 109px;
  padding-top: 8px;
  padding-left: 18px;
}

.post__photo {
  overflow: hidden;

  margin: 0 auto;

  text-align: center;
}

.post__photo--wide {
  overflow: visible;

  height: 140px;
  img {
    position: absolute;
    left: -20px;

    max-width: none;
  }
}

.post__photo-of-the-day {
  @include bold-text(12px);

  position: absolute;
  top: 0;
  right: 0;

  padding: 7px 20px;

  text-transform: uppercase;

  color: $white;
  background-color: $red;
}

.post__author {
  a, a:hover {
    @include bold-text(14px);

    text-decoration: none;

    color: $grey;
  }
  .post__time {
    @include light-text(12px);

    text-transform: uppercase;

    color: $grey;
  }
}

.post__description {
  @include regular-text;

  margin: 0;
  padding: 0;

  line-height: 24px;
}

.post__like-panel {
  @include regular-text(12px);

  padding-top: 16px;
  padding-bottom: 24px;

  text-transform: uppercase;

  color: $red;

  fill: $red;
  span {
    padding-left: 19px;

    vertical-align: top;
  }
}

@media #{$tablet-width} {
  .posts {
    padding-top: 62px;
  }
  .posts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    width: 300px;
    margin-bottom: 20px;
  }

  .post:nth-child(1) {
    width: 100%;
    margin-bottom: 50px;

    .post__like-panel {
      position: absolute;
      top: 24px;
      right: 29px;

      width: 120px;
      svg {
        float: right;
      }
      span {
        padding-right: 18px;
      }
    }

    .post__wrapper {
      position: relative;

      min-height: 104px;
      padding-bottom: 0;
    }
  }

  .post__wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 13px;
    padding-bottom: 28px;
    padding-left: 27px;
  }

  .post__photo {
    img {
      width: 300px;
    }
  }

  .post__photo--wide {
    height: 457px;
    img {
      top: -57px;
      left: -40px;

      width: 700px;
      height: 509px;
    }
  }

  .post__like-panel {
    width: 241px;
    margin: 0;
    margin-top: auto;
    padding: 0;

    svg {
      float: right;
    }
    span {
      padding-left: 0;
    }
  }
}

@media #{$desktop-width} {
  .posts {
    padding-top: 57px;
  }

  .post {
    margin-bottom: 55px;
  }

  .post:nth-child(1) .post__wrapper {
    min-height: 78px;
  }

  .post__photo--wide {
    height: 457px;
    img {
      top: -54px;
      left: -130px;

      width: 1200px;
      height: 506px;
    }
  }
}
