.reviews {
  position: relative;

  margin-top: -100px;
  padding: 31px 0 39px;

  color: $grey;
  background-color: $white;
}

.reviews__wrapper {
  @include container;
}

.reviews__item {
  text-align: center;
}

.reviews__item-author {
  @include bold-text;

  margin: 0;
  padding: 10px 0;
}

.reviews__item-author-description {
  @include regular-text(14px);

  display: none;

  color: $grey;
}

.reviews__item-text {
  @include regular-text;

  margin: 0;
  padding: 2px 0;

  line-height: 30px;
}

@media #{$tablet-width} {
  .reviews {
    margin-top: 0;
    padding-top: 59px;
    padding-bottom: 46px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;

    padding-bottom: 9px;
  }
  .reviews__item-text {
    @include regular-text(18px, 1.7em);

    margin-bottom: 22px;
    padding: 0;

    order: 1;
  }
  .reviews__item-author {
    @include bold-text(20px);

    padding-bottom: 6px;

    order: 2;
  }
  .reviews__item-author-description {
    display: block;

    order: 3;
  }
}

@media #{$desktop-width} {
  .reviews {
    padding-bottom: 62px;

    background: $white url("../img/icon-quotes.svg") no-repeat;
    background-position-x: 50%;
    background-position-y: 70px;
  }
  .reviews__wrapper {
    width: 678px;
    padding-top: 126px;

    quotes: none;

    background-color: rgba($white, 0.9);
  }

  .reviews__item-author {
    @include bold-text(24px, 1.6em);
  }
  .reviews__item-author-description {
    @include regular-text(18px, 0.8em);
  }
}
