.reviews {
  position: relative;

  margin-top: -100px;
  padding: 31px 0;

  color: $grey;
  background-color: $white;
}

.reviews__wrapper {
  @include container;
}

.reviews__item {
  text-align: center;
}

.reviews__item-author {
  @include bold-text;

  margin: 0;
  padding: 10px 0;
}

.reviews__item-text {
  @include regular-text;

  margin: 0;
  padding: 2px 0;

  line-height: 30px;
}

@media #{$tablet-width} {
  .reviews {
    margin-top: 0;
  }

  .reviews__item {
    position: relative;
  }
  .reviews__item-author {
    position: absolute;
    bottom: 0;

    width: 100%;
  }
  .reviews__item-text {
    margin-bottom: 50px;
  }
}
