.reviews {
  padding: 40px 0;

  color: $grey;
  background-color: $white;
}

.reviews__item {
  min-height: 100px;
  text-align: center;
}

.reviews__item-author {
  margin: 0;
  padding: 10px;

  @include bold-text(18);
}

.reviews__item-text {
  margin: 0;
  padding: 10px;

  line-height: 30px;

  @include regular-text(14);
}

@media (min-width: $tablet-break) {
  .reviews__item {
    position: relative;
  }
  .reviews__item-author {
    position: absolute;
    bottom: 0;

    width: 100%;
  }
  .reviews__item-text {
    margin-bottom: 50px;
  }
}
