.slider {

  .slider__list {
    list-style: none;
    margin: 0;
    padding: 0;

    .slider__item {
      display: none;
    }

    .slider__item--selected {
      display: block;
    }
  }

  .slider__toggles {
    text-align: center;
  }
}
