
.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;

  .slider__item {
    display: none;
  }

  .slider__item--selected {
    display: flex;
    flex-direction: column;
  }
}

.slider__toggles {
  padding: 21px 0;

  text-align: center;
}

.slider__toggle {
  display: inline-block;

  box-sizing: border-box;
  width: 6px;
  height: 6px;
  margin: 6px;

  vertical-align: middle;

  border:  {
    width: medium;

    radius: 50%;
    style: solid;
  }
  border-color: $slider-normal;
  background: $white;

  &:hover {
    border-color: $slider-hover;
  }
  &:active {
    border-color: $slider-active;
  }

  &--active {
    width: 12px;
    height: 12px;
    &, &:hover, &:active {
      border-color: $black;
    }
  }
}
