//common variables
@import "fonts";
@import "variables";
@import "mixins";

@import "navigation";
@import "main";
@import "footer";

body {
  margin: 0;

  color: $white;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  font-family: $regular;
  font-size: 14pt;
  line-height: 24pt;;
}
