//common variables
@import "fonts";
@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "footer";

body {
  @include regular-text(24px);

  margin: 0;

  color: $white;
  background-color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;

  border: 0;
}

/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio], input[type=checkbox] {
  position: absolute;
  /* Hide original inputs */

  visibility: hidden;
  & + label:before, & + label:before {
    display: inline-block;

    box-sizing: border-box;
    width: 38px;
    height: 39px;
    margin: 7px 21px -11px -22px;
    padding-top: 4px;

    content: " ";
    text-align: center;

    border: 2px solid $border-grey;
    background-color: $white;

    font-size: 36px;
  }
}

input[type=radio] + label:before {
  border-radius: 50%;
}

input[type=radio]:checked + label:before {
  content: " \25CF";

  color: $red;
}

input[type=checkbox]:checked + label:before {
  background: $white url("../img/bg-tick.png") no-repeat 6px 10px;
}
