//common variables
@import "fonts";
@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "footer";

body {
  @include regular-text(24px);

  margin: 0;

  color: $white;
  background-color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}
