.submit-photo {
  padding: 20px 0 35px;

  background-color: $light-grey;
}

.submit-photo__form {
  @include container;

  padding-bottom: 6px;
}

.submit-photo__preview {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.submit-photo__controls {
  position: relative;

  padding-top: 36px;
  padding-bottom: 68px;

  text-align: center;

  border-bottom: thin solid $grey ;
}

.submit-photo__control {
  margin-right: 15px;
  padding-left: 10px;


  &--active {
    fill: $red;
  }
}

.submit-photo__slider {
  display: none;

  width: 100%;

  &--active {
    position: absolute;
    bottom: 26px;

    display: block;
  }
}

.submit-photo__actions {
  padding-top: 38px;
}

.submit-photo__button {
  @include bold-text;

  box-sizing: border-box;
  width: 100%;
  padding: 6px 8px 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: $red;
  border:  {
    width: medium;

    color: $red;

    radius: 45px;
    style: solid;
  };
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &:disabled {
    color: $grey;
    border-color: $grey;
  }

  &:first-child {
    margin-bottom: 13px;
  }
}

@media #{$tablet-width} {
  .submit-photo {
    padding: 20px 0;
  }

  .submit-photo__form {
    @include clear-fix;

    box-sizing: border-box;
    padding-top: 37px;
    padding-bottom: 34px;
  }
  .submit-photo__preview {
    float: left;
    overflow: hidden;

    width: 300px;
    height: 400px;

    img {
      width: 300px;
      height: 488px;
    }
  }

  .submit-photo__controls {
    float: right;

    min-height: 214px;
    padding: 0;

    border-bottom: none;
  }

  .submit-photo__control {
    display: block;

    width: 300px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    img {
      width: 25px;
      height: 25px;
      margin-right: 25px;

      vertical-align: middle;
    }
  }

  .submit-photo__slider {
    position: static;

    display: inline;

    width: 200px;
  }
  .submit-photo__actions {
    float: right;

    box-sizing: border-box;
    width: 300px;
    padding-top: 45px;
    padding-right: 12px;
    padding-left: 27px;
  }

  .submit-photo__button:first-child {
    margin-bottom: 25px;
  }
}

@media #{$desktop-width} {
  .submit-photo {
    @include container;
  }

  .submit-photo__form {
    width: 800px;
    padding: 37px 10px 14px;
  }

  .submit-photo__controls {
    width: 410px;
  }

  .submit-photo__control {
    margin-bottom: 22px;
    padding-left: 10px;
    img {
      width: 48px;
      height: 48px;
    }
  }

  .submit-photo__actions {
    width: 410px;
    margin: 0;
    padding: 0;
    padding-top: 130px;
  }

  .submit-photo__button {
    display: inline-block;

    width: 200px;
  }
}
