@import "colors";

.submit-photo {
  background-color: $light-grey;

  .submit-photo__preview {
    display: block;

    margin-right: auto;
    margin-left: auto;
  }
}

.submit-photo__controls {
  padding: 10px 10px;

  text-align: center;

  label {
    display: block;
  }
  .submit-photo__control {
    padding-left: 10px;
  }
}

.submit-photo__form {
  button {
    display: block;

    margin-right: auto;
    margin-left: auto;
  }
}
