$reset-color: #dddfe0;
$reset-bg-color: #b5b9be;
.submit-photo__wrapper {
  padding: 20px 0 35px;

  background-color: $light-grey;
}

.submit-photo__form {
  @include container;

  padding-bottom: 6px;
}

.submit-photo__preview {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.submit-photo__controls {
  position: relative;

  padding-top: 36px;
  padding-bottom: 68px;

  text-align: center;

  border-bottom: thin solid $grey;
}

.submit-photo__control {
  margin-right: 15px;
  padding-left: 10px;

  &--active {
    fill: $red;
  }
}

.submit-photo__slider {
  display: none;

  width: 100%;

  &--active {
    position: absolute;
    bottom: 26px;

    display: block;
  }
}

.submit-photo__actions {
  padding-top: 38px;
}

.submit-photo__button {
  @include bold-text;

  box-sizing: border-box;
  width: 100%;
  padding: 6px 8px 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  border:  {
    width: medium;

    color: $red;

    radius: 45px;
    style: solid;
  }
  background-color: transparent;

  &--submit {
    margin-bottom: 13px;

    color: $red;
    &:hover {
      color: $white;
      background-color: $red;
    }
    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--reset {
    color: $reset-color;
    border-color: $reset-color;
    &:hover {
      color: $reset-bg-color;
      border-color: $reset-bg-color;
    }
    &:active {
      color: rgba($white, 0.3);
      background-color: $reset-bg-color;
    }
  }
}

@media #{$tablet-width} {
  .submit-photo__wrapper {
    padding: 20px 0;
  }

  .submit-photo__form {
    @include clear-fix;

    box-sizing: border-box;
    padding-top: 37px;
    padding-bottom: 34px;
  }
  .submit-photo__preview {
    float: left;
    overflow: hidden;

    width: 300px;
    height: 400px;

    img {
      width: 300px;
      height: 488px;
    }
  }

  .submit-photo__controls {
    float: right;

    min-height: 214px;
    padding: 0;

    border-bottom: none;
  }

  .submit-photo__control {
    display: block;

    width: 300px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    svg {
      width: 25px;
      height: 25px;
      margin-right: 25px;

      vertical-align: middle;

      fill: $red;
    }
  }

  .submit-photo__slider {
    position: static;

    display: inline;

    width: 200px;
  }
  .submit-photo__actions {
    float: right;

    box-sizing: border-box;
    width: 300px;
    padding-top: 45px;
    padding-right: 12px;
    padding-left: 27px;
  }

  .submit-photo__button--submit {
    margin-bottom: 25px;
  }
}

@media #{$desktop-width} {
  .submit-photo {
    padding-bottom: 28px;
  }

  .submit-photo__wrapper {
    @include container;

    padding-bottom: 41px;
  }

  .submit-photo__form {
    width: 820px;
    padding: 37px 0 14px 20px;
  }

  .submit-photo__controls {
    width: 410px;
  }

  .submit-photo__control {
    margin-bottom: 22px;
    padding-left: 0;
    svg {
      width: 48px;
      height: 48px;
    }
  }

  .submit-photo__actions {
    display: flex;
    justify-content: space-between;

    width: 410px;
    margin: 0;
    margin-top: 130px;
    padding: 0;

    flex-flow: row nowrap;
  }

  .submit-photo__button {
    display: block;

    width: 182px;
    margin: 0;

    &--submit {
      margin: 0;
    }
  }
}
